html, body { width: 100%; height: 100%; }

body {
    background-color: #171717;
    margin: 0;
    padding: 0;
}

#point-cloud canvas {
    display: block;
}

.editor {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

.preview {
    display: inline-block;
}

.preview a {
    display: block;
    color: #fff;
    width: 150px;
    border: 1px solid #999;
    margin: 2px;
}

.preview.selected a {
    border: 1px solid #fff;
}

.params-picker-container {
    position: absolute;
    top: 150px;
    left: 20px;
}

.params-picker {
    padding: 20px;
}

.params-picker ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.param-picker {
    position: relative;
    margin-bottom: 20px;
}

.param-picker:last-child {
    margin-bottom: 0px;
}

.param-display {
    color: #fff;
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    text-align: center;
}

.param-label {
    font-size: 39px;
    line-height: 1.5;
    display: block;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Sliders */
.circular-slider {
    border-radius: 50%;
    border: 5px solid hsl(132, 70%, 30%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: relative;
    transform: rotate(0rad);
}

.circular-slider:before {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 50%;
    right: -15px;
    margin-top: -10px;
    background-color: hsl(132, 70%, 50%);
    border: 2px solid #000;
    cursor: -webkit-grab;
    cursor: grab;
}

.circular-slider-grabbing:before {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}
