html, body { width: 100%; height: 100%; }

body {
    background-color: #171717;
    margin: 0;
    padding: 0;
}

.point-cloud canvas {
    display: block;
}

.editor {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0px;
    left: 0px;
}

.frame-editor.selected a {
    border: 1px solid #fff;
}

.preview a {
    display: block;
    color: #fff;
    border: 1px solid #999;
    margin: 2px;
}

.params-picker {
    padding: 20px;
    color: #fff;
}

.params-picker ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.param-picker {
    margin-bottom: 20px;
}

.param-picker:last-child {
    margin-bottom: 0px;
}

input[type=range] {
    width: 150px;
    margin: 0 5px;
}
