html, body { width: 100%; height: 100%; }

body {
    background-color: #171717;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.point-cloud canvas {
    display: block;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.top-bar {
    color: #fff;
    background-color: hsl(0, 0%, 96%);
    position: relative;
    z-index: 2;
    border-bottom: 1px solid hsl(0, 0%, 60%);
    box-shadow: 0px 5px 5px hsl(0, 0%, 0%);
}

.top-bar-link {
    color: #000;
    font-size: 24px;
    padding: 6px 10px;
    display: inline-block;
}

.toggle-editor {
    color: #666;
}

.toggle-editor.active {
    color: #000;
}

.github-link {
    float: right;
}

.editor {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    transition: margin-top 0.5s ease;
    z-index: 1;
}

.editor.hidden {
    margin-top: -370px;
}

.frame-editor {
    display: inline-block;
    position: relative;
    transition: background-color 0.25s ease-in;
    background-color: hsla(0, 0%, 0%, 0);
}

.frame-editor:hover {
    background-color: hsla(0, 0%, 0%, 0.5);
}

.preview a {
    display: block;
    color: #fff;
}

.params-picker {
    padding: 20px;
    color: #fff;
    opacity: 0.00;
    transition: opacity 0.25s ease-in;
}

.frame-editor:hover .params-picker {
    opacity: 1.0;
}

.params-picker ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.param-picker {
    margin-bottom: 20px;
}

.param-picker:last-child {
    margin-bottom: 0px;
}

input[type=range] {
    width: 140px;
    margin: 0 5px;
}
