html, body { width: 100%; height: 100%; }

body {
    background-color: #171717;
    margin: 0;
    padding: 0;
}

.point-cloud canvas {
    display: block;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.top-bar {
    color: #fff;
    background-color: #f9f9f9;
    position: relative;
    z-index: 2;
}

.editor {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    transition: margin-top 0.5s ease-in;
    z-index: 1;
}

.editor.hidden {
    margin-top: -200px;
}

.frame-editor {
    display: inline-block;
    position: relative;
}

.frame-editor.selected a {
    border: 1px solid #fff;
}

.preview a {
    display: block;
    color: #fff;
    border: 1px solid #999;
    margin: 2px;
}

.params-picker {
    padding: 20px;
    color: #fff;
    position: absolute;
    top: 170px;
    left: 0;
}

.params-picker ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.param-picker {
    margin-bottom: 20px;
}

.param-picker:last-child {
    margin-bottom: 0px;
}

input[type=range] {
    width: 150px;
    margin: 0 5px;
}
